@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
	background: url("../img/background.JPG") grey;
	background-attachment: fixed;
	background-position: center;
}
.frame{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex-container{
	display: flex;
	width: 25vw;
	height: 100vh;
	background-color: #000000;
	flex-direction: column;
	justify-content: center;
}
.flex-item{
	display: flex;
}
.gblock{
	width: 7.5vw;
  padding: 2vw;
  align-items: center;
}
.link{
  text-decoration: none;
  align-items: left;
  color: white;
	font-family: Courier;
	font-size: 2em;
	line-height: 2em;
}
#main{
	text-align: center;
	margin: 0 auto;
}
#subtext{
	font-size: 1vw;
	line-height: 1vw;
}
#qrcode{
	padding: 1vw;
}