@CHARSET "ISO-8859-1";
body{
	background: url(http://ioav.nfshost.com/WebContent/images/ioav-bg.JPG) grey;
	background-size: 300vw;
	<!--background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center right;-->
}
.flex-container{
    display: -webkit-flex;
    display: flex;
    width: 50vh;
	height: 100vh;
    background-color: #000000;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.flex-item{
	display: flex;
}
.logo{
    width: 7.5vw;
	line-height: 300%;
}
.link{
	text-decoration: none;
    color: white;
	font-family: Courier;
	font-size: 2vw;
	line-height: 200%;
}
#main{
	text-align: center;
	margin: 0 auto;
}
 