@CHARSET "ISO-8859-1";
body{
	background-image: url("http://ioav.nfshost.com/WebContent/images/ioav-bg.jpg");
	background-color: white;
}

.flex-container{
    display: -webkit-flex;
    display: flex;
    width: 40%;
	height: 125%;
    background-color: #000000;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#main{
	text-align: center;
	margin: 0 auto;
}

.flex-item.logo{
    display: flex;
	width: 125pt;
}

.flex-item.link{
	display: flex;
	text-decoration: none;
    color: white;
	font-family: Courier;
	font-size: 2em;
	line-height: 200%;
}
	