@CHARSET "ISO-8859-1";
body{
	background: url(http://ioav.nfshost.com/WebContent/images/ioav-bg.JPG) grey;
	background-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	margin:0;
	padding:0;
}
.flex-container{
    display: -webkit-flex;
    display: flex;
    width: 25vw;
	height: 100vh;
    background-color: #000000;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.flex-item{
	display: flex;
}
.logo{
    width: 7.5vw;
	padding: 2vw;
}
.link{
	text-decoration: none;
    color: white;
	font-family: Courier;
	font-size: 2vw;
	line-height: 4vw;
}
#main{
	text-align: center;
	margin: 0 auto;
}
 